@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString())</h1>
<p>@T("Your password has been changed successfully.")</p>
<p>@Html.ActionLink(T("You may now login").ToString(), "LogOnMember", new { Controller = "Account", Area = "LETS" })</p>