@{
    Script.Require("jQuery");
    Script.Include(string.Format("https://maps.googleapis.com/maps/api/js?key={0}&sensor=false", Model.MembersMap.ApiKey));
    Style.Include("common.css");
    var markers = new MvcHtmlString(Model.MemberMarkers);
}

<div id="map_canvas" style='@string.Format("width:{0}px; height:{1}px;", Model.MembersMap.MapWidth, Model.MembersMap.MapHeight)'></div>

@using (Script.Head()) {
    <script type="text/javascript">
        var map;

        function initializeMap(latitude, longitude, zoomLevel) {
            var mapOptions = {
                center: new google.maps.LatLng(latitude, longitude),
                zoom: zoomLevel,
                maxZoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        }

        function AddMarker(objMarker) {

            var latlng = objMarker.LatLong.split(",");
            var position = new window.google.maps.LatLng(latlng[0], latlng[1]);
            var marker = new window.google.maps.Marker({
                position: position,
                map: map,
                title: "Please click me!"
            });
            var infoWindow = new google.maps.InfoWindow({
                content: objMarker.InfoHtml
            });
            window.google.maps.event.addListener(marker, 'click', function () {
                infoWindow.content = objMarker.InfoHtml;
                infoWindow.open(map, marker);
            });
        }

        function addMarkers() {
            var markers = @markers;
            for (var i = 0; i < markers.length; i++) {
                AddMarker(markers[i]);
            }
        }

        $(document).ready(function() {
            initializeMap(@Model.MembersMap.Latitude, @Model.MembersMap.Longitude, @Model.MembersMap.ZoomLevel);
            addMarkers();
        });

    </script>
}
