@using LETS.Services
@{
    var noticeTypeTitle = WorkContext.Resolve<INoticeService>().GetNoticeTypeTitle(Model.ContentPart.Id);
}
<h2>@noticeTypeTitle - @Model.ContentPart.Title</h2>
@Display.NoticeOwnerLinks(Model.ContentPart)