@using LETS.Services
@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
    var noticeTypeTitle = WorkContext.Resolve<INoticeService>().GetNoticeTypeTitle(Model.ContentPart.Id);
}
<h2><span class="noticeTypeLabel">@noticeTypeTitle - </span>@Html.ItemDisplayLink(title, contentItem)</h2>
