@{
    Layout.Title = T("Edit Transaction").ToString();
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true; 
}

@using (Html.BeginFormAntiForgeryPost())
{
    Html.ValidationSummary();

    <div id="editTransaction">
        <header class="page-header">
            <h1>@T("You are editing your trade")</h1>    
        </header>
        @Display(Model)

    </div>

}