@model Orchard.Core.Title.Models.TitlePart
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="control-group">
    <label class="required control-label" for="@Html.FieldIdFor(m => m.Title)">@T("Title")</label>
    <div class="controls">
        @Html.TextBoxFor(m => m.Title, new { @class = "required input-xlarge form-control", autofocus = "autofocus", required = "required" })
        <div class="invalid-feedback">@Html.ValidationMessageFor(m => m.Title)</div>
    </div>
</div>
