@model Orchard.Comments.Models.CommentsPart

<div class="border p-3 border-top-0">
    <div class="form-group">
        <div class="form-check">
            @Html.CheckBoxFor(m => m.CommentsActive, new { @class = "form-check-input" })
            @Html.LabelFor(m => m.CommentsActive, "Allow comments", new { @class = "form-check-label" })
        </div>
    </div>
</div>