<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<root>
		<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
		<appender-ref ref="debug-file" xdt:Locator="Match(ref)" xdt:Transform="Remove" />
	</root>
	<logger name="Orchard" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<logger name="Orchard.Localization" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<logger>
		<priority value="ERROR" xdt:Transform="SetAttributes(value)" />
	</logger>
	<appender>
		<immediateFlush value="false" xdt:Transform="SetAttributes(value)" />
	</appender>
	<appender name="debugger" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<appender name="debug-file" xdt:Locator="Match(name)" xdt:Transform="Remove" />
	<appender name="error-file" xdt:Locator="Match(name)">
		<filter xdt:Transform="Remove" />
	</appender>
  <appender name="SmtpAppender" xdt:Locator="Match(name)" >
    <from xdt:Transform="Replace" value="LETS@zeta.com.au" />
    <subject xdt:Transform="Replace" value="Logging note LETS" />
    <smtpHost xdt:Transform="Replace" value="smtp.sendgrid.net" />
    <username xdt:Transform="Insert" value="azure_5ad8e7e32ff99690e7f556e49a5fa41f@azure.com" />
    <password xdt:Transform="Insert" value="McZl8x1blIAi275" />
  </appender>
</log4net>