@using LETS.Models
@using Orchard.ContentManagement;

@{
  var userName = ((IContent)Model.ContentItem).As<Orchard.Security.IUser>().UserName;
    var member = ((IContent) Model.ContentItem).As<MemberPart>();
}
  <!-- Profile Head -->
<div class="profile-head page-header">
    <h1>@member.FirstLastName</h1>
    @if(WorkContext.CurrentUser != null && WorkContext.CurrentUser.UserName == userName) {
        @Html.ActionLink(T("Edit your profile").Text, "Edit")
    }
</div>