<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.transactions>
		<defaultSettings xdt:Transform="RemoveAttributes(timeout)" />
	</system.transactions>
	<system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true"  xdt:Transform="SetAttributes(httpOnlyCookies,requireSSL)" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode,defaultRedirect)" defaultRedirect="~/oops"  />
		<machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" xdt:Transform="SetAttributes(validationKey,decryptionKey)" />
	</system.web>
  <system.webServer>
    <staticContent xdt:Transform="Replace">
      <clientCache cacheControlMaxAge="14.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^swanhillslets.org$" />
          </conditions>
          <action type="Redirect" url="https://www.swanhillslets.org/{R:0}" redirectType="Permanent" />
        </rule>      
      </rules>
      <outboundRules>
        <rule name="Remove ETag">
          <match serverVariable="RESPONSE_ETag" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
        <rule name="Remove RESPONSE_Server">
          <match serverVariable="RESPONSE_Server" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>

  </system.webServer>
</configuration>