@using LETSBootstrap.Services
@using Orchard.Media.Services
@{
    var homeUrl = Href("~/");
    var themeSettings = WorkContext.Resolve<ISettingsService>().GetSettings();
    var logo = themeSettings.Logo;
    var logoUrl = "";
    if (!string.IsNullOrEmpty(logo))
    {
        logoUrl = WorkContext.Resolve<IMediaService>().GetMediaPublicUrl("Logos", logo);
    }
}
<a href="/" class="navbar-brand d-flex align-items-center">
    @if (!string.IsNullOrEmpty(logoUrl))
    {
        <img src='@logoUrl?height=25' alt="logo" height="25" id="logo" />
    }
        <strong>@WorkContext.CurrentSite.SiteName</strong>
</a>
