<h1>Oops!</h1>
<div class="row">
    <div class="span6">
        <h2>Something went wrong</h2>
        <p>The problem has been logged and will be dealt with in due course.</p>
        <p>If you are worried or unduly inconvenienced please contact us.</p>
        <h3>In the meantime, please try something else.</h3>

    </div>
    <div class="span6">
        <img src="/Themes/LETSBootstrap/Content/Images/oops-baby.jpg" alt="Oops baby"/>
    </div>
</div>
