@{
    var firstImage = "";
    if (!string.IsNullOrEmpty(Model.ContentField.FileNames))
    {
        var images = Model.ContentField.FileNames.Split(';');
        if (images.Length > 0)
        {
            firstImage = images[0];
        }
    }
    // var noticeType = Model.ContentItem.NoticePart.StrNoticeType; this causes an ObjectDisposedException
    // to fix this HACK
    var noticeType = "Offer";
    var idNoticeType = Model.ContentItem.NoticePart.NoticeTypeId;
    if (idNoticeType == 14)
    {
        noticeType = "Request";
    }
    else if (idNoticeType == 15) {
        noticeType = "Announcement";
    }
}
@if (!string.IsNullOrEmpty(firstImage))
{
    <div class="placeholder">
        <img class="img-fluid dropzone-first" src="@firstImage?w=120&h=120&mode=crop" alt="" />
        <span class="dropzone-text ">@noticeType</span>
    </div>
}
else
{
    <div class="placeholder">
        <span class="dropzone-text noimg align-middle">@noticeType</span>
    </div>

}

