@using Orchard.Taxonomies.Services
@using Orchard.ContentManagement
@{
    var terms = (IEnumerable<Orchard.Taxonomies.Models.TermPart>)Model.Terms;
    var taxonomyService = WorkContext.Resolve<ITaxonomyService>();
}

@if (Model.Terms.Count > 0)
{
    var term = Model.Terms[0];
    <p class="taxonomy-field">
        <span class="name">@Html.ItemDisplayLink((string)term.Name, (ContentItem)term.ContentItem)</span>
    </p>
}
