@using Orchard.UI.Notify;
@{
    var cssClass = "alert alert-";
    switch ((NotifyType)Model.Type)
    {
        case NotifyType.Warning:
            cssClass += "warning";
            break;
        case NotifyType.Error:
            cssClass += "danger";
            break;
        default:
            cssClass += "primary";
            break;
    }
}
@*
    Model.Message can either be:
    - an IHtmlString and won't be re-encoded
    - a string and will be encoded
*@
<div class="@cssClass message message-@Model.Type">@Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))</div>
