<div class="jumbotron-wrapper" style="background-image:url(@Model.ContentItem.BannerWidgetPart.BackgroundImage.FirstMediaUrl)">
    <section class="jumbotron text-center mb-3">
        <div class="container">
            <h1>@Model.ContentItem.WidgetPart.Title</h1>
            @Display(Model.Content)
        </div>
    </section>
</div>