@{
    Style.Include("slimbox2.css");
    Script.Require("jQuery").AtFoot();
    Script.Include("slimbox2.js").AtFoot();
}
@if (!string.IsNullOrEmpty(Model.ContentField.FileNames))
{
    <div class="stripGallery">
        @foreach (var fileName in Model.ContentField.FileNames.Split(';'))
        {
            <a href="@fileName" rel="lightbox-gallery">
                @{ var alternateText = string.IsNullOrEmpty(Model.ContentField.AlternateText) ? Path.GetFileNameWithoutExtension(fileName) : Model.ContentField.AlternateText; }
                <img alt="@alternateText" src='@Display.ResizeMediaUrl(Width: 250, Path: fileName)' />
            </a>
        }
    </div>
}